:root {
  --background: #fefefe;
  --text: #16193B;
  --primary: #35478C;
  --secondary: #4E7AC7;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  }

@font-face {
  font-family:'VT323-Regular';
  src: url('../fonts/VT323-Regular.ttf');
}


body {
  font-family: "VT323-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style:normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  color: var(--text);
}


h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}
h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}
h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;

}
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: var(--primary);
  color: var(--background);
}
nav {
  font-size: 1.5rem;
  display: flex;
  
  background-color: var(--secondary)
}

nav a {
  color: var(--primary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.textrow {
  width:100%;
  padding-bottom:40px;
  margin-left:40px;
  margin-right:40px;
}

.showcase {
  flex: 0 1 auto;
  padding: 25px;
  margin: 30px 100px 30px 100px;
  text-align: center;
  border: 1px solid;
  
  border-radius: var(--border-radius); 
}

.big {
  
  flex: 0 1 1200px;

}

.showcase header {
  padding: 20px;
  background-color: var(--primary);
  color: var(--background);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.showcase img {
  width: 100%;
  min-width: 400px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

a:visited {
  color:var(--primary);
}
.icon {
  height:25px;
}
li:hover a{
  color: white;
  background-color: var(--primary);
  }

  p {
  white-space: pre-wrap;
}

.showcase:hover,
.showcase:hover .header {
  transition: all 0.5s ease-in-out;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 250, 0.75);
}


@media screen and (min-width: 768px) {
   nav {
    flex-direction:row;
    }
}

@media screen and (max-width: 768px) {
    nav {
    flex-direction:column;
    }
}
